@import "./themeVariables.css";


body {
  background: #edf1f2 url("../../assets/svg/bgPattern.svg") 0 35px repeat fixed;
}

button {
  border: none;
  outline: none;
}

.overlay {
  &.is-hidden {
    display: none;
  }

  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: var(--c_overlay_bg);
  color: var(--c_overlay_text);
  z-index: var(--z-modal);

  & button:hover {
    opacity: .7;
  }
}

