/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;
  --text-color: #333;
  --bg-color: #edf1f2;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  background: #edf1f2 url("../../assets/svg/bgPattern.svg") 0 35px repeat;
}
