@import "./themeVariables.css";

body {
  background: #edf1f2 url("../../assets/svg/bgPattern.svg") 0 35px repeat fixed;
}

button {
  border: none;
  outline: none;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.overlay {
  &.is-hidden {
    display: none;
  }

  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: var(--c-overlay-bg);
  color: var(--c-overlay-text);
  z-index: var(--z-modal);

  & button:hover {
    opacity: .7;
  }
}

@media (max-width: 599px) {
  .global-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .global-header-title {
    margin: 0;
    height: 20px;
  }

  .global-footer-quote-wrapper {
    display: none;
  }

  .global-footer-honor {
    padding-right: 0;
    text-align: center;
  }
}

.btn {
  display: block;
  border: 2px solid var(--c-emph);
  padding: 5px 10px;
  line-height: 14px;
  font-size: 12px;
  color: var(--c-emph);

  &:hover {
    color: var(--c-alt);
    background: var(--c-emph);;
  }
}

.content .btn {
  margin: 5px auto;
  cursor: pointer;
}

