:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;

  /* COLORS */
  --c-overlay-bg: rgba(0, 0, 0, .9);
  --c-overlay-text: #fff;
  --c-txt: #333;
  --c-alt: #fff;
  --c-emph: #ff6c31;
  --c-placeholder: #ccc;
  --c-dark: #222b37;


  /* MEDIA QUERIES */
  --w-phone-only: 599px;
  --w-tablet-portrait-up: 600px;
  --w-tablet-landscape-up: 900px;
  --w-desktop-up: 1200px;
  --w-big-desktop-up: 1800px;

  /* Z-INDEX */
  --z-layout: 90;
  --z-cont: 10;
  --z-bg: 5;
  --z-modal: 100;
}
